{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscription</h1>
    {{ form_start(form) }}

    {{ form_row(form.username, {'attr':{'placeholder': "Username"}}) }}
    {{ form_row(form.email, {'attr':{'placeholder': "Email"}}) }}
    {{ form_row(form.password, {'attr':{'placeholder': "Password"}}) }}
    {{ form_row(form.password_confirm, {'attr':{'placeholder': "Password Confirm"}}) }}
     <button type="submit" class="btn">Inscription !</button>
    {{ form_end(form) }}
{% endblock %}