{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<section class="articles">
    {% for article in articles %}
        <article>
            <h2> {{ article.title }} </h2>
            <div class="metadata">ecrit le {{ article.createAt | date('d/m/Y') }} à {{ article.createAt | date('H:i') }}  dans la catégorie politique</div>
            <div class="content">
                <img src="{{ article.image }}" alt="">
                <p>{{ article.content }}</p>
                <a href="{{ path('show', article.id) }}" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>
    {% endfor %}
</section>
{% endblock %}
