{% extends 'base.html.twig' %}

{% block body %}

<article>
    <h2> {{ article.title }} </h2>
    <div class="metadata">ecrit le {{ article.createAt | date('d/m/Y') }} à {{ article.createAt | date('H:i') }}  dans la catégorie politique</div>
    <div class="content">
        <img src="{{ article.image }}" alt="">
        <p>{{ article.content }}</p>
    </div>
</article>

{% endblock body %}